<div class="row animated bounceInUp justify-content-center" style="margin-top: 10vh">
  <div class="col-6" style="margin-bottom: -18px">
    <div class="card" style="padding: 20px">
      <div class="card-body">
        <h4 class="card-title text-center" style="padding-bottom: 10px">Edit Your Account</h4>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="form-row mb-3">
            <div class="col">
                          <%= f.text_field :name,
                        placeholder: 'Full Name',
                        required: false,
                        class: 'form-control' %>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="col">
              <label>Image</label>
              <%= f.file_field :image %>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="col">
                          <%= f.text_field :email,
                        placeholder: 'Email',
                        required: false,
                        class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.password_field :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                placeholder: 'Password',
                input_html: { autocomplete: "new-password" },class: 'form-control' %>
                <small>Leave it blank if you don't want to change password.</small>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation,
                required: false,
                placeholder: 'Confirm Password',
                input_html: { autocomplete: "new-password" },class: 'form-control' %>
                <small>Leave it blank if you don't want to change password.</small>
          </div>

          <div class="form-group">
            <%= f.password_field :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                placeholder: 'Current Password',
                input_html: { autocomplete: "current-password" },
                class: 'form-control' %>
                <small>We need your current password to make any changes.</small>
          </div>

          <div class="form-actions">
            <%= f.button "Update",:class=>"btn btn-md btn-success btn-block", data:{disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating ..."},:style=>"margin-left:0px"%>
          </div>

          </div>
        <% end %>
      </div>
