
<div class="row animated bounceInUp faster justify-content-center">
  <div class="col-12">
    <div class="card" style="padding: 0px 100px">
      <div class="card-body">
        <div class="text-center">
          <% if @store.image.attached? %>
            <%= image_tag(@store.image, :size=>"280x280",:class=>"rounded-circle") %>
          <% else %>
            <img class="rounded-circle " src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap" height="280px" width="280px">
          <% end %>
        </div>
        <h4 class="text-center mt-3"><%= @store.name %></h4>
        <hr class="my-1">
        <p class="lead text-justify"><%= @store.description %></p>
              <p class="lead text-center">
                Opening Time: <%= @store.opening.strftime("%H:%M") %>
                <br>
                Closing Time: <%= @store.closing.strftime("%H:%M") %>
                <br>
                Holiday: <%= @store.holiday.name %>
                <br>
                Place: <%= @store.place.name %>
                <br>
                Coordinates: <%= @store.coordinates %>
                <br>
                Category: <%= @store.category.name %>
                <br>
                <% if @store.contact.blank? %>
                Contact: Not Provided
                <% else %>
                Contact: <%= @store.contact %>
                <% end %>
                <br>
                <hr class="my-1">
                <div class="text-center">
                <% if user_signed_in? %>
                  <%= link_to edit_store_path(@store) do %>
                    <button class="btn btn-sm btn-info">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                  <% end %>

                  <%= link_to store_path, method: :delete, data:{confirm:"Are you sure?"} do %>
                    <button class="btn btn-sm btn-warning">
                      <i class="fas fa-trash"></i>
                    </button>
                  <% end %>

                  <%= link_to new_store_path do %>
                    <button class="btn btn-sm btn-secondary">
                      <i class="fas fa-arrow-right"></i>
                    </button>
                  <% end %>
                <% end %>
                </div>
              </p>
        </div>
      </div>
      <%= link_to stores_path do %>
        <button class="btn btn-md btn-success btn-block" style="margin-left: 0">
          <i class="fas fa-arrow-left"></i>
        </button>
      <% end %>
    </div>
  </div>
</div>

