<div class="row justify-content-center animated bounceInUp faster">
	<div class="col-12 text-center">
		<div class="card mt-5" style="padding: 10px 20px">
			<div class="card-body">
				<h3><%= @place.name %></h3>
				<p>Added at <%= @place.created_at.strftime("%B, %d, %Y")%></p>
				<hr class="my-2">
				<p class="lead">
					<%= @place.description %>
				</p>

				<%= link_to places_path do %>
					<button class="btn btn-sm btn-primary">
						<i class="fas fa-arrow-left"></i>
					</button>
				<% end %>

				<% if user_signed_in? %>
					<%= link_to edit_place_path(@place) do %>
						<button class="btn btn-sm btn-info">
							<i class="fas fa-pencil-alt"></i>
						</button>
					<% end %>

					<%= link_to place_path, method: :delete, data:{confirm:"Are you sure?"} do %>
						<button class="btn btn-sm btn-warning">
							<i class="fas fa-trash"></i>
						</button>
					<% end %>

					<%= link_to new_place_path do %>
						<button class="btn btn-sm btn-secondary">
							<i class="fas fa-arrow-right"></i>
						</button>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br>

<div class="row animated bounceInUp faster">
  <% @stores.each do |store | %>
  <div class="col-4">
    <div class="card">
      <% if store.image.attached? %>
        <%= image_tag(store.image,:size=>"140x230",:class=>"card-img-top")%>
      <% else %>
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap" height="230px">
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= link_to truncate(store.name,:length=>20), store, :class=>"link" %></h4>
        <p class="card-text"><%= store.category.name %></p>
        <%= link_to "Details", store, :class=>"btn btn-info btn-md"%>
      </div>
    </div>
    <br>
  </div>
  <% end %>
</div>
